In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("../data/processed/tesla_stock_processed.csv")
df["Date"] = pd.to_datetime(df["Date"])
df = df.sort_values("Date").reset_index(drop=True)

df.head()

        Date       Open   High        Low      Close    Volume  Adj Close
0 2010-06-29  19.000000  25.00  17.540001  23.889999  18766300  23.889999
1 2010-06-30  25.790001  30.42  23.299999  23.830000  17187100  23.830000
2 2010-07-01  25.000000  25.92  20.270000  21.959999   8218800  21.959999
3 2010-07-02  23.000000  23.10  18.709999  19.200001   5139800  19.200001
4 2010-07-06  20.000000  20.00  15.830000  16.110001   6866900  16.110001

In [2]:
df["daily_return"] = df["Close"].pct_change()
df.head()

,Date,Open,High,Low,Close,Volume,Adj Close,daily_return
0,2010-06-29,19.000000,25.00,17.540001,23.889999,18766300,23.889999,NaN
1,2010-06-30,25.790001,30.42,23.299999,23.830000,17187100,23.830000,-0.002511
2,2010-07-01,25.000000,25.92,20.270000,21.959999,8218800,21.959999,-0.078473
3,2010-07-02,23.000000,23.10,18.709999,19.200001,5139800,19.200001,-0.125683
4,2010-07-06,20.000000,20.00,15.830000,16.110001,6866900,16.110001,-0.160937

Daily return represents the percentage change in closing price from the previous trading day.
This transformation helps stabilize the series and is widely used in financial modeling and risk analysis.

In [3]:
df["lag_1"] = df["daily_return"].shift(1)
df["lag_5"] = df["daily_return"].shift(5)
df["lag_10"] = df["daily_return"].shift(10)

df[["daily_return", "lag_1", "lag_5", "lag_10"]].head(12)

    daily_return     lag_1     lag_5    lag_10
0            NaN       NaN       NaN       NaN
1      -0.002511       NaN       NaN       NaN
2      -0.078473 -0.002511       NaN       NaN
3      -0.125683 -0.078473       NaN       NaN
4      -0.160937 -0.125683       NaN       NaN
5      -0.019243 -0.160937       NaN       NaN
6       0.105063 -0.019243 -0.002511       NaN
7      -0.003436  0.105063 -0.078473       NaN
8      -0.020115 -0.003436 -0.125683       NaN
9       0.063930 -0.020115 -0.160937       NaN
10      0.093716  0.063930 -0.019243       NaN
11      0.002520  0.093716  0.105063 -0.002511

In [4]:
df["ma_5"] = df["Close"].rolling(window=5).mean()
df["ma_20"] = df["Close"].rolling(window=20).mean()
df["ma_50"] = df["Close"].rolling(window=50).mean()

df[["Close", "ma_5", "ma_20", "ma_50"]].head(60)

        Close       ma_5    ma_20    ma_50
0   23.889999        NaN      NaN      NaN
1   23.830000        NaN      NaN      NaN
2   21.959999        NaN      NaN      NaN
3   19.200001        NaN      NaN      NaN
4   16.110001  20.998000      NaN      NaN
5   15.800000  19.380000      NaN      NaN
6   17.459999  18.106000      NaN      NaN
7   17.400000  17.194000      NaN      NaN
8   17.049999  16.764000      NaN      NaN
9   18.139999  17.169999      NaN      NaN
10  19.840000  17.977999      NaN      NaN
11  19.889999  18.463999      NaN      NaN
12  20.639999  19.111999      NaN      NaN
13  21.910000  20.083999      NaN      NaN
14  20.299999  20.515999      NaN      NaN
15  20.219999  20.591999      NaN      NaN
16  21.000000  20.813999      NaN      NaN
17  21.290001  20.944000      NaN      NaN
18  20.950001  20.752000      NaN      NaN
19  20.549999  20.802000  19.8715      NaN
20  20.719999  20.902000  19.7130      NaN
21  20.350000  20.772000  19.5390      NaN
22  19.940001  20.502000  19.4380      NaN
23  20.920000  20.496000  19.5240      NaN
24  21.950001  20.776000  19.8160      NaN
25  21.260000  20.884000  20.0890      NaN
26  20.450001  20.904001  20.2385      NaN
27  19.590000  20.834000  20.3480      NaN
28  19.600000  20.570000  20.4755      NaN
29  19.030001  19.986000  20.5200      NaN
30  17.900000  19.314000  20.4230      NaN
31  17.600000  18.744000  20.3085      NaN
32  18.320000  18.490000  20.1925      NaN
33  18.780001  18.326000  20.0360      NaN
34  19.150000  18.350000  19.9785      NaN
35  18.770000  18.524000  19.9060      NaN
36  18.790001  18.762000  19.7955      NaN
37  19.100000  18.918000  19.6860      NaN
38  20.129999  19.188000  19.6450      NaN
39  19.200001  19.198000  19.5775      NaN
40  19.900000  19.424000  19.5365      NaN
41  19.750000  19.616000  19.5065      NaN
42  19.700001  19.736000  19.4945      NaN
43  19.870001  19.684001  19.4420      NaN
44  19.480000  19.740000  19.3185      NaN
45  20.450001  19.850001  19.2780      NaN
46  21.059999  20.112000  19.3085      NaN
47  21.049999  20.382000  19.3815      NaN
48  20.540001  20.516000  19.4285      NaN
49  20.900000  20.800000  19.5220  19.8336
50  20.709999  20.852000  19.6625  19.7700
51  20.170000  20.674000  19.7910  19.6968
52  20.719999  20.608000  19.9110  19.6720
53  21.120001  20.724000  20.0280  19.7104
54  21.980000  20.940000  20.1695  19.8278
55  20.940001  20.986000  20.2780  19.9306
56  20.230000  20.998000  20.3500  19.9860
57  21.059999  21.066000  20.4480  20.0592
58  20.770000  20.996000  20.4800  20.1336
59  19.870001  20.574000  20.5135  20.1682

Moving averages smooth short-term noise and help capture underlying price trends.
They are commonly used by both traders and machine learning models.

In [6]:
df["volatility_5"] = df["daily_return"].rolling(5).std()
df["volatility_20"] = df["daily_return"].rolling(20).std()

df[["daily_return", "volatility_5", "volatility_20"]].head(30)

    daily_return  volatility_5  volatility_20
0            NaN           NaN            NaN
1      -0.002511           NaN            NaN
2      -0.078473           NaN            NaN
3      -0.125683           NaN            NaN
4      -0.160937           NaN            NaN
5      -0.019243      0.067641            NaN
6       0.105063      0.104481            NaN
7      -0.003436      0.105800            NaN
8      -0.020115      0.094576            NaN
9       0.063930      0.056406            NaN
10      0.093716      0.056756            NaN
11      0.002520      0.048887            NaN
12      0.037707      0.045779            NaN
13      0.061531      0.034007            NaN
14     -0.073482      0.064071            NaN
15     -0.003941      0.051262            NaN
16      0.038576      0.053343            NaN
17      0.013810      0.051511            NaN
18     -0.015970      0.041871            NaN
19     -0.019093      0.023865            NaN
20      0.008273      0.023642       0.066915
21     -0.017857      0.015870       0.066974
22     -0.020147      0.011970       0.064873
23      0.049147      0.029888       0.058943
24      0.049235      0.034243       0.044605
25     -0.031435      0.039953       0.045199
26     -0.038100      0.043790       0.041522
27     -0.042054      0.047468       0.042990
28      0.000510      0.038301       0.042555
29     -0.029082      0.016773       0.041163

Volatility represents risk.
Many financial decisions prioritize risk-adjusted returns over raw profit.

In [9]:
df_fe = df.dropna().reset_index(drop=True)
df_fe.shape

(1643, 16)

In [10]:
df_fe.to_csv("../data/processed/tesla_stock_features.csv", index=False)